**/.idea/*
*.iml
.gradle
/local.properties
.DS_Store
build
/captures
.externalNativeBuild
application.properties
data.sql

# Latex temp files
*.toc
*.aux
*.lof
*.log
*.out
*.synctex.gz
*.glg
*.glo
*.gls
*.glsdefs
*.ist
*.fdb_latexmk
*.fls
*.pyg
*.dvi
*.pdf

# Scripts
remove-temp-files.sh