<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.kit.pse.fridget.client">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Fridget"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.AccessCodeActivity" />
        <activity android:name=".activity.CreateCommentActivity" />
        <activity android:name=".activity.CreateFlatshareActivity" />
        <activity android:name=".activity.CreateTextCoolNoteActivity" />
        <activity android:name=".activity.EditTextFrozenNoteActivity" />
        <activity android:name=".activity.EnterAccessCodeActivity" />

        <activity android:name="edu.kit.pse.fridget.client.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.FullTextFrozenNoteActivity" />
        <activity android:name=".activity.FullImageCoolNoteActivity" />
        <activity android:name=".activity.GetAccessCodeActivity" />
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.MenuDrawerActivity" />
        <activity android:name=".activity.LanguageActivity" />
        <activity android:name=".activity.FullTextCoolNoteActivity" />
        <activity android:name=".activity.MemberListActivity" />
        <activity android:name=".activity.StartActivity" />

        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>